.advantages {
  padding: 30px 18px;
}

.advantages__title {
  font-size: 25px;
  line-height: 30px;
  color: #000;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__item {
  padding-top: 82px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: #000;
}
