.button {
  .font(18px; 20px);
  font-family: inherit;
  display: block;
  padding: 15px 22px 13px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: @grey;
  border: 2px solid @grey;
  background-color: #ffffff;

  &:hover {
    color: #ffffff;
    background-color: @grey;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: @tablet-width) {
    font-size: 17px;
  }
}
