.catalog-nav__link {
  display: block;
  padding: 24px 160px 31px 18px;

  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #fff;

  &--interior {
    background-color: @green;
  }

  &--toys {
    background-color: @darkgreen;
  }
}
