.catalog-nav {
  @media (min-width: @tablet-width) {
    display: flex;
    align-items: flex-end;
  }
}

.catalog-nav__link {
  .font(19px; 24px; 700);
  display: flex;
  flex-grow: 1;
  text-decoration: none;

  &:hover {
    box-shadow: 0px 5px 0px 0px @green;
    transform: translateY(-5px);
  }

  &:hover span::after {
    opacity: 0.7;
  }

  &:active span::after {
    opacity: 0.3;
  }

  span {
    position: relative;
    display: block;
    width: 320px;
    min-height: 124px;
    margin: 0 auto;
    padding: 22px 120px 33px 33px;
    color: #ffffff;
    text-decoration: none;
    box-sizing: border-box;

    &::after {
      position: absolute;
      top: 0;
      right: 40px;
      content: "";
      width: 60px;
      height: 100%;
      opacity: 0.5;
    }
  }

  &--interior {
    background-color: @green;

    &:hover,
    &:focus {
      background-color: #59d5bc;
    }

    span::after {
      background: url("../img/icon-interior.svg") no-repeat 10px 20px;
      background-size: 40px 62px;
    }
  }

  &--toys {
    background-color: @darkgreen;

    &:hover,
    &:focus {
      background-color: @darkgreen;
      box-shadow: 0px 5px 0px 0px @darkgreen;
    }

    span::after {
      background: url("../img/icon-toy.svg") no-repeat 0 20px;
      background-size: 60px 60px;
    }
  }

  @media (min-width: @tablet-width) {
    .font (20px; 30px; 700);

    span {
      padding: 26px 160px 35px 35px;
    }
  }
}