.catalog__wrapper {
  .container();
}

.catalog__list {
  .list-reset();
  margin-top: 30px;

  @media (min-width: @tablet-width) {
    margin-top: 80px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 130px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 52px;
  }
}

.catalog__item {
  margin-bottom: 31px;

  @media (min-width: @tablet-width) {
    margin-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 58px;
  }
}
