.copyright {
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 50px;
    margin-top: 14px;
    fill: @green;
  }
}

.copyright__text {
  .font(18px; 18px; 700);
}
