.copyright {
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    margin-top: 14px;
    margin-left: 27px;
    fill: @green;

    &:hover {
      fill: #46c1ae;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.copyright__text {
  .font(18px; 18px);
  font-weight: 700;
}
