.filter__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filter__legend {
  text-align: center;
  margin-bottom: 20px;
}

.filter__list {
  width: 260px;
  margin: 0 auto 30px;
  display: flex;
  justify-content: space-between;
}

.filter__button {
  width: 260px;
  margin: 0 auto;
  font-family: inherit;
  color: #ffffff;
  background-color: @green;
  border-color: @green;
}
