.form p {
  .font(14px; 16px);
  margin: 0;
  margin-bottom: 30px;
}

.form .button {
  width: 100%;
}

.form__fieldset {
  margin: 0 0 17px 0;
  padding: 0;
  border: none;

  &--color {
    margin-bottom: 0px;
  }

  &--user {
    margin-bottom: 4px;
  }

  &--tel {
    margin-bottom: 25px;
  }

  &--email {
    margin-bottom: 28px;
  }

  @media (min-width: @tablet-width) {
    max-width: 668px;
    margin: 0 auto 23px;
  }
}

.form__legend {
  .font(17px; 16px);
  margin-bottom: 33px;
  font-weight: 700;
  text-transform: uppercase;
  color: @green;

  &--user {
    margin-bottom: 30px;
  }

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.form__list {
  .list-reset();

  @media (min-width: @tablet-width) {
    width: 500px;
    margin-left: 176px;
    margin-top: -32px;

    &--color {
      display: grid;
      grid-template-columns: 48% 48%;
      grid-template-rows: 1fr;
      grid-gap: 22px;
      margin-left: 167px;
    }
  }
}

.form__item {
  margin-bottom: 26px;

  @media (min-width: @tablet-width) {
    margin-bottom: 30px;
  }

  &--color {
    margin-bottom: 43px;
  }

  &--user {
    margin-bottom: 23px;
  }
}

.form__label {
  .font(17px; 18px);
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 60px;
  font-weight: 700;
  color: @black;

  &--user {
    display: block;
    padding-left: 0;
  }

  @media (min-width: @tablet-width) {
    .font(19px; 18px);
  }
}

.form__radio-btn {
  position: absolute;
  left: 2px;
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  border: 9px solid #ffffff;
  box-shadow: 0 0 0 2px #444444;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    margin-right: 30px;
    width: 20px;
    height: 20px;
    border-width: 13px;
  }
}

.form__input--user {
  display: block;
  width: 100%;
  padding: 20px 0 14px;
  border: none;
  border-bottom: 2px solid @black;
}

.form__textarea {
  display: block;
  margin-top: 14px;
  padding: 15px;
  width: 100%;
  .font(17px; 18px);
  font-family: inherit;
  resize: none;
  border: 2px solid @black;
  box-sizing: border-box;
}

.form__textarea::placeholder,
.form__input--user::placeholder {
  .font(17px; 18px);
  color: @black;
  opacity: 0.3;
}

.form__input:checked + .form__radio-btn {
  background-color: @green;
}

.form__checkbox {
  position: absolute;
  left: 0;
  width: 34px;
  height: 34px;
  border: 2px solid #444444;

  @media (min-width: @tablet-width) {
    margin-right: 31px;
    width: 48px;
    height: 48px;
  }
}

// .form__input:checked + .form__checkbox {
//   &::after {
//     content: "";
//     position: absolute;
//     top: 20px;
//     left: 5px;
//     width: 11px;
//     height: 2px;
//     background-color: #000000;
//     transform: rotate(45deg);
//   }

//   &::before {
//     content: "";
//     position: absolute;
//     top: 17px;
//     left: 10px;
//     width: 21px;
//     height: 2px;
//     background-color: #000000;
//     transform: rotate(-45deg);
//   }
// }

.form__bg {
  @media (min-width: @tablet-width) {
    padding-top: 67px;
    padding-bottom: 30px;
    background-color: @lightgrey;
  }
}
