.intro {
  background: url("../img/hero-mobile@1x.jpg") no-repeat top;
  &__wrapper {
    padding-top: 75px;
  }
  &__nav {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.intro__title {
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
}
