.intro {
  position: relative;
  background: url("../img/hero-mobile@1x.jpg") no-repeat top;
}

.intro__wrapper {
  padding-top: 75px;
}

.intro__nav {
  .list-reset();
  @media (min-width: @tablet-width) {
    margin: 0 30px;
  }
}

.intro__title {
  .font(27px; 30px; 700);
  margin: 0 auto 120px;
  width: 260px;
  text-align: center;
  color: #000;
  @media (min-width: @tablet-width) {
    .font(43px; 50px; 700);
    width: auto;
  }
  @media (min-width: @desktop-width) {
    .font(53px; 57px; 700);
  }
}
