.modal {
  display: none;

  &--show {
    display: block;
  }
}

.modal__wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 28px 30px 46px;
  width: 320px;
  background-color: #ffffff;
  border: 1px solid #c6c6c6;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
  box-sizing: border-box;
  transform: translate(-50%, -50%);
  z-index: 10000;


  @media (min-width: @tablet-width) {
    width: 566px;
    padding: 38px 105px 46px;
  }
}

.modal__bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  outline: 1px solid;
  z-index: 1000;
}

.modal__title {
  .font(25px; 30px);
  margin: 0;
  margin-bottom: 15px;
  padding: 0 48px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: @black;

  @media (min-width: @tablet-width) {
    .font(30px; 57px);
    margin-bottom: 11px;
    padding: 0;
  }
}
