.page-header__wrapper {
  position: relative;
  .container();
}

.page-header__top {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 22px 0 12px;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 22px;
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    border: none;
  }

  @media (min-width: @desktop-width) {
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
  }
}

.page-header__logo {
  display: block;
  margin: 0 auto;
  text-align: center;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    width: 100%;

    svg {
      margin-top: -5px;
    }
  }

  @media (min-width: @desktop-width) {
    margin-top: -15px;
  }
}

.page-header__toggler {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  width: 20px;
  height: 14px;
  display: block;
  cursor: pointer;
  border: none;
  background-color: transparent;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.page-header__nav--closed .page-header__toggler::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 2px;
  background-color: @black;
  box-shadow:
    0 6px 0 0 @black,
    0 12px 0 0 @black;
}

.page-header__nav {
  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.page-header__nav--opened .page-header__toggler {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 5px;
    right: -3px;
    width: 26px;
    height: 2px;
    background-color: @black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media (max-width: @mobile-width) {
  .page-header__nav--closed .site-nav__list {
    display: none;
  }

  .page-header__nav--nojs .page-header__toggler {
    display: none;
  }

  .page-header__nav--nojs .site-nav__list--catalog {
    display: block;
  }

  .page-header__nav--nojs .site-nav__list--user {
    display: block;
  }
}
