.page-header__wrapper {
  @media (min-width: @tablet-width) {
    .container();
  }
}

.page-header__top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  margin: 0 auto;
  min-height: 79px;

  @media (min-width: @tablet-width) {
    width: 113px;
    position: absolute;
    min-height: 89px;
  }

  @media (min-width: @desktop-width) {
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
  }
}

.page-header__nav {
  margin: 0 auto;

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.page-header__logo {
  text-align: center;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    width: 100%;
  }
}

.page-header__nav {
  margin: 0 auto;

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}
