.popular {
  padding: 30px;
  &__title {
    font-size: 25px;
    line-height: 30px;
    color: #000;
  }
  &__of-the-week {
    font-size: 17px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: @green;
  }
  &__price {
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
  }
}

.popular__details {
  th {
    font-weight: 400;
    text-align: left;
  }
}
