.popular {
  position: relative;
  padding: 36px 18px;
  @media (max-width: @mobile-width) {
    background: url("../img/bg-zigzag-line.svg") no-repeat bottom;
  }
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px;
    padding: 0;
  }
}

.popular__wrapper {
  .container();
  position: relative;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: calc(50% + 50px);
    min-height: 400px;
  }
}

.popular__img {
  margin-bottom: 20px;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 90px;
    right: 50px;
    width: 45%;
    height: 100%;
    min-height: 300px;
  }
}

.popular__title {
  .font(25px; 30px; 700);
  margin: 0;
  color: #000;
  @media (min-width: @tablet-width) {
    .font(43px; 50px; 700);
    position: absolute;
    top: 0;
    left: 50px;
  }
  @media (min-width: @desktop-width) {
    .font(53px; 57px; 700);
  }
}

.popular__subtitle {
  text-transform: uppercase;
  color: @green;
  @media (min-width: @tablet-width) {
    position: absolute;
    right: 50px;
    width: 100px;
    text-align: center;
  }
  @media (min-width: @desktop-width) {
    position: absolute;
    top: 5px;
    left: -90px;
  }
}

.popular__description {
  @media (min-width: @tablet-width) {
    margin-top: 80px;

  }
}

.popular__price,
.popular__subtitle {
  .font(17px; 24px; 700);
  z-index: 100;
}

.popular__details {
  margin-bottom: 20px;
  tr {
    border-bottom: 1px solid #ECECEC;
  }
  th {
    font-weight: 400;
    text-align: left;
  }
}
