.product-card {
  position: relative;
  font-size: 13px;
}

.product-card__img {
  display: block;
  margin: 0;
}

.product-card__info {
  margin: 0;
  padding: 28px;
  border: 1px solid #ECECEC;
  a {
    text-decoration: none;
  }
}
.product-card__title {
  margin: 0;
  .font(17px; 24px; 700);
  color: #000;
}

.product-card__price {
  font-size: 15px;
  font-weight: 700;
}
