.product-card {
  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    display: flex;
    width: 668px;
    margin: 0 auto 54px;
  }
}

.product-card__img img {
  display: block;
}

.product-card__info {
  margin: 0;
  padding: 28px;
  border: 1px solid #ececec;

  a {
    text-decoration: none;
  }

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    width: 335px;
  }
}

.product-card__title {
  margin: 0;
  .font(17px; 24px; 700);
  color: #000000;

  @media (min-width: @tablet-width) {
    font-size: 20px;
  }
}

.product-card__price {
  .font(15px; 24px; 700);

  @media (min-width: @tablet-width) {
    font-size: 17px;
  }
}

.product-card__description {
  @media (max-width: @mobile-width) {
    font-size: 13px;
  }
}
