.reviews {
  padding: 30px 18px;
  background: url("../img/bg-zigzag-line.svg") no-repeat bottom;
}

.reviews__item,
.reviews__list {
  margin: 0;
  padding: 0;
}

.reviews__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: #000;
}

.reviews__author {
  font-size: 17px;
  line-height: 24px;
  color: #000;
  &--name {
    font-weight: 700;
  }
}

.reviews__button {
  margin: 0 auto;
  padding: 23px 45px 13px;
  border: 1px solid #ECECEC;

}
