.site-nav {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.site-nav__list {
  .font(17px; 24px; 700);
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 100;

  a {
    width: 260px;
    margin: 0 auto;
    padding: 29px 15px 25px 45px;
    display: flex;
    align-items: center;
    color: @black;
    text-decoration: none;
    box-sizing: border-box;

    &:hover {
      opacity: 0.6;

      svg {
        fill: @green;
        opacity: 1;
      }
    }

    &:active {
      opacity: 0.3;
    }
  }

  li {
    border-top: 1px solid #ececec;
  }

  svg {
    margin-left: -45px;
    margin-right: 27px;
    opacity: 0.2;
    height: 24px;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    a {
      width: auto;
    }

    li {
      border-top: 0;
    }
  }

  &--user {

    @media (min-width: @tablet-width) {
      order: -1;
      flex: none;
      justify-content: flex-end;
      align-items: center;
      margin-left: auto;
      width: calc(100% - 120px);

      li {
        border-left: 1px solid #ececec;
      }

      a {
        padding: 33px 0 30px 82px;
      }

      span {
        opacity: 0;
        width: 1px;
        height: 1px;
        overflow: hidden;
      }
    }

    @media (min-width: @desktop-width) {
      width: calc(50% - 80px);

      svg {
        margin-right: 35px;
      }
    }
  }

  &--catalog {
    @media (min-width: @tablet-width) {
      a {
        padding: 20px 30px 20px 0;
      }

      li {
        border: none;
      }
    }

    @media (min-width: @tablet-width) and (max-width: @desktop-width) {
      flex: none;
      width: 50%;
      max-height: 0;
      font-size: 15px;
    }

    @media (min-width: @desktop-width) {
      order: -2;
      width: calc(50% - 120px);
      max-height: none;
      font-size: 17px;

      a {
        padding: 33px 30px 30px 0;
      }

      li:nth-child(1) {
        border-right: 1px solid #ececec;
      }
    }
  }

  &--deals {
    display: none;
    font-size: 15px;
    margin-right: auto;

    @media (min-width: @desktop-width) {
      display: flex;
      max-height: 0;

      li {
        border: none;
      }

      a {
        padding: 20px 60px 0 0;
      }
    }
  }
}

.site-nav__note {
  display: none;
  width: 50%;
  max-height: 0;
  text-align: right;
  z-index: 100;

  @media (min-width: @tablet-width) {
    display: block;
  }

  p {
    margin-top: 18px;
    margin-left: auto;
  }
}
