.site-nav {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.site-nav__toggler {
  display: none;

  &--show {
    @media (max-width: @mobile-width) {
      position: absolute;
      top: 40px;
      right: 50%;
      transform: translateY(-50%) translateX(130px);
      width: 20px;
      height: 14px;
      display: block;
      cursor: pointer;
      border: none;
      background-color: transparent;
    }
  }
}

.site-nav--closed .site-nav__toggler::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 2px;
  background-color: @black;
  box-shadow:
    0 6px 0 0 @black,
    0 12px 0 0 @black;
}

.site-nav--opened .site-nav__toggler {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 5px;
    right: -3px;
    width: 26px;
    height: 2px;
    background-color: @black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}


@media (max-width: @mobile-width) {
  .site-nav--closed .site-nav__list {
    display: none;
  }

  .site-nav--nojs .site-nav__toggler {
    display: none;
  }

  .site-nav--nojs .site-nav__list--catalog {
    display: block;
  }

  .site-nav--nojs .site-nav__list--user {
    display: block;
  }
}


.site-nav__list {
  .font(17px; 24px);
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 700;
  z-index: 100;

  li {
    border-top: 1px solid #ececec;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;

    li {
      border-top: 0;
    }
  }

  &--user {
    @media (min-width: @tablet-width) {
      order: -1;
      flex: none;
      justify-content: flex-end;
      margin-left: auto;
      margin-right: -32px;
      width: calc(100% - 120px);

      li {
        border-left: 1px solid #ececec;
      }
    }

    @media (min-width: @desktop-width) {
      width: calc(50% - 80px);
    }
  }

  &--catalog {
    @media (min-width: @tablet-width) and (max-width: @desktop-width) {
      flex: none;
      width: 60%;
      max-height: 0;
      font-size: 15px;
      margin-left: -16px;
    }

    @media (min-width: @desktop-width) {
      order: -2;
      width: calc(50% - 65px);
      max-height: none;
      font-size: 17px;
      margin-left: -32px;

      li:nth-child(1) {
        border-right: 1px solid #ececec;
      }
    }
  }

  &--deals {
    display: none;
    font-size: 15px;
    margin-right: auto;
    margin-left: -32px;
    margin-top: -25px;

    @media (min-width: @desktop-width) {
      display: flex;
      max-height: 0;
    }
  }
}

.site-nav__note {
  display: none;
  width: 40%;
  margin-left: auto;
  max-height: 0;
  text-align: right;
  z-index: 100;

  @media (min-width: @tablet-width) {
    display: block;
  }

  p {
    margin-top: 18px;
    margin-left: auto;
  }
}

.site-nav__link {
  display: flex;
  align-items: center;
  width: 260px;
  margin: 0 auto;
  padding: 30px 15px 24px 47px;
  color: @black;
  text-decoration: none;
  box-sizing: border-box;

  svg {
    margin-right: 27px;
    margin-left: -45px;
    opacity: 0.2;
  }

  &:hover {
    opacity: 0.6;

    svg {
      fill: @green;
      opacity: 1;
    }
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    width: auto;
    padding: 33px 32px 30px;

    svg {
      margin-right: 31px;
      margin-left: 0;
      height: 24px;
    }
  }

  @media (min-width: @desktop-width) {
    svg {
      margin-right: 32px;
    }
  }
}

.site-nav__link--search {
  @media (min-width: @tablet-width) {
    span {
      display: none;
    }

    svg {
      margin-right: 0;
    }
  }
}

.site-nav__link--catalog {
  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    padding: 22px 18px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 38px;
  }
}
