.site-list__item {
  border-bottom: 1px solid #ECECEC;
}

.site-list__item {
  a {
    display: block;
    color: #000;
    .font(17px; 24px; 700);
    text-decoration: none;
    padding-top: 25px;
    padding-bottom: 24px;
  }
}
