.size-list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.size-list__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.size-list__radio-btn {
  .font(17px; 16px);
  display: block;
  width: 78px;
  padding: 16px 0;
  margin-bottom: 5px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid @lightgrey;

  @media (min-width: @tablet-width) {
    width: 112px;
  }
}

.size-list__input:focus,
.size-list__input:checked + .size-list__radio-btn {
  border-color: @green;
}
