.social {
  width: 150px;
  justify-content: space-between;
  position: relative;
  padding: 0;
  list-style: none;

  @media (max-width: @mobile-width) {
    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: -60px;
      width: 260px;
      height: 1px;
      background-color: #e5e5e5;
    }
  }
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
