.list-reset(@margin; @padding; @style) {
  margin: @margin;
  padding: @padding;
  list-style: @style;
}

.font(@size; @height; @weight) {
    font-size: @size;
    line-height: @height;
    font-weight: @weight;
}
